.search-wrapper{
  
}

.search-container{
  position: relative;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-input{
  width: 80vw;
  border: 0.2vh solid #000000;
  background: transparent;
  padding: 1vh 2vh;
  border-radius: 50px;
  outline: none;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.filter-buttons-cont{
  display: flex;
}

.search-button{
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 28px;
    max-width: 100%;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-46:active,
  .button-46:hover {
    outline: 0;
  }
  
  .button-46:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (min-width: 768px) {
    .button-46 {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }

.close-btn{
  position: absolute;
  top: 27px;
  right: 80px;
  font-size: 35px;
  cursor: pointer;
  color: #fff;
  opacity: 0;
  
}

.close-btn.active{
  opacity: 1;
  animation: animate 0.5s linear;
}

@keyframes animate{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.2);
  }
  50%{
    transform: scale(1.5);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

/* SEARCH BAR END  */
.ing-card-cont{
  padding: 1vh;
  display: flex;
  flex-direction: column;
  
}
.map-title{
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  letter-spacing: 0.7vh;

}
.map-cont{
  display: grid;
  grid-template-columns: repeat(4,11vh);
  height: 10vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: black;
  border-style: solid ;
}
.ing-card{
  background-color: rgb(233, 227, 219);
  min-width: 3vh;
  width: fit-content;
  max-width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4vh;
  padding: 1vh;
  border-radius: 1vh;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.ing-img-cont{
  width: 7vh;
  height: 7vh;
  border-radius: 1vh;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  overflow: hidden;
}
.dec-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.card-title{
  text-transform: capitalize;
}
.cost-select{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}
.ing-cont{
  text-align: center;

}
.ing-cont .ing-card{

}
.amount{
  position: absolute;
  border-radius: 50%;
  background-color: #56ff00;
  width: 3vh;
  height: 3vh;
}
.bottom-ing-display{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: linear-gradient(0deg, rgb(0, 131, 40) 0%, rgb(186, 234, 189) 100%);
  gap: 1vh;
  overflow-y: hidden;
  overflow-x: scroll;
  opacity: 0.95;
}
