.all-newuser-cont{
height: 90vh;
    width: 99vw;
    overflow: hidden;
}
.new-user-title-cont{
    overflow: hidden;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    text-align: center;
}
.user-title{
    overflow: hidden;
    font-size: 1.7rem;
}
.new-user-form{
    overflow: hidden;
display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    padding: 4vh;
}

.form-name-cont{
display: flex;
    justify-content: space-between;
}
.img-form-cont{
    display: flex;
    justify-content: space-between;
}

.avatar-selection-cont{
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 2vh;
    height: 15vh;
    margin: 1vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.avatar-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar-img{
align-self: center;
    min-height: 7vh;
    min-width: 7vh;
    max-width: 7vh;
    max-height: 7vh;
    border-radius: 50%;
    overflow: hidden;
}
.avatar-img:active{
    scale: 2;
}
.dot{
    min-height: 2vh;
    height: 2vh;
    color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.real-dot{
    background-color: #53ff00;
    min-height: 2vh;
    min-width: 2vh;
    border-radius: 50%;
    margin-bottom: 0.5vh;
}