.user-selection-cont{
width: 100%;
    height: 100%;
display: flex;
    flex-direction: column;
align-items: center;
    justify-content: center;

}
.title-cont{
    font-size: 0.9rem;
    padding: 5vh;
}
.user-card-cont{
height: 50vh;
    width: 30vh;
display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;

}
.user-card{
overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 20vh;
    height: 20vh;


}
.user-card:hover{
    scale: 1.2;
    transform: translateY(-4px);
    transition: 2s;
    transition-delay:0.3s ;
}
.entry-img-cont{
overflow: hidden;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
img{
width: 100%;
    height: 100%;
    object-fit: fill;
}