.ing-card-comp-cont{
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
}
.ing-comp-card{
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    padding: 1vh;
}
.ing-img-cont{
height: 10vh;
width: 10vh;
}
.ing-img{
width: 100%;
height: 100%;
object-fit: cover;
}
.ing-card-desc{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    justify-content: left;
    width: 100%;
    padding: 0.7vh;
}
.ing-card-name{
text-transform: capitalize;
letter-spacing: 0.2vh;
}
.ing-price-and-cat{
display: flex;
padding: 1vh;

justify-content: space-between;

}
.ing-but-cont{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.ing-add-butt{

      display: flex;
      align-items: center;
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      padding: 0.7em 1.4em 0.7em 1.1em;
      color: white;
      background: #ad5389;
      background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
      border: none;
      box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
      letter-spacing: 0.05em;
      border-radius: 20em;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-88:hover {
      box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }
    
    .button-88:active {
      box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }
